<footer id="footer">
  <div class="container">
    <div class="copyright">
      ИП Кобелев Кирилл Олегович
      <br>
      Made in Nikita Zlobin
    </div>
    <div id="footer_contacts">
      <div class="phone_number">
        <%= link_to "+79122864339", "tel:+7(912)286-43-39" %>
      </div>
      <div class="social_networks">
        <div class="social social_instagram"></div>
        <div class="social social_vk"></div>
        <div class="social social_yt"></div>
      </div>
    </div>
  </div>
</footer>